<html>
    <meta>
        <title>{{title}}</title>
        <style>
body {
    font-family: sans-serif;
    margin: 5rem 10%;
    line-height: 1.5;
}
nav>b {
    background-color: yellow;
}
.footer {
    font-size: 0.8rem;
    color: gray;
    border-top: 0.05rem solid gray;
    margin-top: 3rem;
}
        </style>
    </meta>

    <body>
        <nav>
        {{#navigation}}
        {{^current}}<a href="{{permalink}}">{{name}}</a>{{/current}}
        {{#current}}<b>{{name}}</b>{{/current}}
        {{/navigation}}
        </nav>

        {{#date}}
        <div class="postdate">{{.}}</div>
        {{/date}}

        {{{body}}}

        <ul>
        {{#posts}}
            <li>
                {{date}}<br/>
                <a href="{{permalink}}">{{name}}</a>
            </li>
        {{/posts}}
        </ul>

        <div class="footer">
            Siblings of this page are:
            {{#siblings}}
            {{name}}
            {{/siblings}}
        </div>

    </body>
</html>